/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section.new {
  padding: 1em;
}

.two-buttons {
  display: flex;
  justify-content: space-between;
}

@import url(reset.css);
@import url(tables.css);
@import url(buttons.css);
@import url(detail_badge.css);
@import url(switch.css);
@import url(foods_view.css);
@import url(devise.css);
@import url(recipes-index.css);
@import url(general-shopping-list.css);
@import url(recipe_details_view.css);
@import url(recipe_card.css);
@import url(navbar.css);
