
.devise-box {
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.devise-box form {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.devise-box form > *:not(.actions) {
  display: flex;
  flex-direction: column;
}

.devise-box input[type='checkbox'] {
  align-self: flex-start;
}

.devise-box input[type='checkbox'] + label {
  position: absolute;
  margin-left: 25px;
}

section.devise {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}
