header.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: right;
  height: 1.2rem;
}

header.navbar button {
  border: none;
  background: none;
  text-decoration: underline;
  color: rgb(0, 0, 238);
  display: inline;
  padding: 0;
}

header.navbar button:hover {
  color: rgb(85, 26, 139);
}

header.navbar > nav {
  position: absolute;
}

header.navbar > nav > ul {
  max-height: 0;
  overflow: hidden;
  transition: 1s;
}

header.navbar > nav:hover > ul {
  max-height: 100vh;
}
