header.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: right;
  height: 1.2rem;
}

header.navbar > nav {
  position: absolute;
}

header.navbar > nav > ul {
  max-height: 0;
  overflow: hidden;
  transition: 1s;
}

header.navbar > nav:hover > ul {
  max-height: 100vh;
}
