section.recipies-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  section.recipies-list > article {
    min-width: 70vw;
  }
  
  section.recipies-list > article > a {
    display: flex;
    align-items: stretch;
    gap: 20px;
    text-decoration: inherit;
    color: inherit;
    padding: 20px;
    border: solid 2px #000;
    min-height: 6rem;
  }
  