.table {
  display: table;
  margin-inline: auto;
  width: calc(100% - 2em);
  max-width: 1300px;
  border: 1px solid #ddd;
  border-radius: 0.5em;
}

.table-row {
  display: table-row;
  width: 100%;
}

.table-row span,
.table-row div {
  display: table-cell;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  padding: 0.5em 1em;
}

.table-row span:nth-child(1),
.table-row div:nth-child(1) {
  border-left: none;
}

.table-row:last-child span,
.table-row:last-child div {
  border-bottom: none;
}

.table-header {
  position: sticky;
  top: 0;
  font-weight: 600;
}

.table-header span {
  background-color: #efefef;
}

.table-row .table-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.table-row .table-actions form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}